<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>결과 확인하기</title>
    <style>
      span {
        color: coral;
        font-weight: 700;
      }

      .border {
        border: 1px solid gray;
        border-radius: 5px;
        width: 500px;
        margin: 2px 0;
      }
    </style>
  </head>
  <body>
    <h1>결과 확인하기</h1>
    <p><span> <%=userInfo.name%></span>님 환영합니다!</p>
    <div class="border">성별: <%=userInfo.gender%></div>
    <div class="border">
      생년월일:
      <%=userInfo.birth_year%>/<%=userInfo.birth_month%>/<%=userInfo.birth_day%>
    </div>
    <div class="border">관심사: <%=userInfo.hobby%></div>
    <div class="color">
      <%= title === 'POST' ? '좋아하는 색상: ' + userInfo.color : ''%>
    </div>
    <div><%= title === 'POST' ? '좋아하는 숫자: ' + userInfo.num : '' %></div>
    <a href="/">홈으로 이동하기</a>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const color = document.querySelector(".color");
        color.style.color = "<%=userInfo.color%>";
      });
    </script>
  </body>
</html>
